<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuxianda.mapper.EmployeeMapper">

    <cache eviction="LRU" flushInterval="600000" size="512" readOnly="true"/>

    <select id="selectEmployeeById" parameterType="int" resultType="com.xuxianda.entity.Employee">
        SELECT * FROM employee WHERE id = #{id}
    </select>
    <!-- 查询所有Employee -->
    <select id="selectAllEmployee" parameterType="int" resultType="com.xuxianda.entity.Employee">
        SELECT * FROM employee
    </select>
    <!-- 根据id删除Employee -->
    <delete id="deleteEmployeeById" parameterType="int">
        DELETE FROM employee WHERE id = #{id}
    </delete>
</mapper>